@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


*{
    margin: 0px;
    padding: 0px;
    
}
html,body{
    background-color: whitesmoke ;
    height: 100vh;
    
    font-family: Arial, Helvetica, sans-serif;
}




.foto{

    background-image: url(imagens/moça\ propaganda.jpg);
    background-position:  left center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: scroll;
     
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 98%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

main h1  {
    color: white;
    position: absolute;
    font-weight: 400;
    font-size: 4em;
    font-family: "Newsreader", serif;
    font-weight: bold;
    top: 29%;
    left: 0%;
    transform: translate(6px, 68px);
}
   
    


main h2 {
    font-family: "Newsreader", serif;
    font-weight: bold;
    position: absolute;
    color: white;
    top: 47%;
    font-size: 3em;
    left: 0%;
    
    transform: translate(17px, 96px);
} 

.botão{
    margin: 2px;
}

/*
.setaparabaixo{

    width: 70px;
    height: 70px;
    background-image: url(imagens/arrow_downward_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.png) ;
    background-repeat: no-repeat;
    background-size: contain;
   position: absolute;
    
    
    transform: translate(812%, 1115%);
  

    animation-name: setaparabaixo;
    animation-duration: 1s;
    animation-timing-function:ease-in-out ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes setaparabaixo {

    0%{
        top: 0px;
    }
    100%{
        top:20px ;
    }
}
*/


aside{
    margin-top: 200px;
    height: 150vh;
}


.foto2{
   
    background: url(imagens/produto\ de\ limpeza1.png);
    height: 110vh;
    width: 200vw;
   
    background-repeat: no-repeat;
    background-size: contain;

    

}
 

aside h1{
    margin-top: 40px;
    font-family: "Newsreader", serif;
    font-size: 3em;
    color: #6c6661;
    font-weight: bold;
}

aside h2{
    margin-top: 20px;
    font-family: "Newsreader", serif;
    font-weight: bold;
    color: #6c6661;
    font-size: 1.3em;
    text-align: justify;
}

aside button.b{
  border: 1px solid #ceac91 ;
  font-family: "Newsreader", serif;
  font-weight: normal;
  
}

.col-12 , .col-dm-6 h1{
    text-align: center;
}







    



    


    
       
        

    

   

