@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


html,body{

    padding: 0px;
    margin: 0px;
}

.navbar{
    background-color: rgb(231, 224, 225);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;


}

.navbar-brand{
    font-weight: 500;
    color:black;
    font-size: 24px;
    transition: 0.3s color;
}




    
.loggin-button{
    background-color: black ;
    color: #fff;
    font-size: 14px;
    padding: 4px 20px ;
    border-radius: 50px;
    text-decoration: none;
    transition:0.3 background-color ;
}
.loggin-button:hover{
    background-color: rgb(141, 18, 39);
}

.navbar-togger{
    border:none ;
    font-size: 1.25rem;
}

.navbar-togger:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #6c6661;
    font-weight:bold ;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: black;
}
@media(min-width:991px){


        .nav-link::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            width: 100%;
            height: 2px;
            background-color: rgb(141, 18, 39) ;
            visibility: hidden;
            transition: 0.3s ease-in-out ;
            
        }

        .nav-link:hover::before,.nav-link.active::before{
        width: 100%;
        visibility:visible ;
        }
   
}


main{
    position: absolute;
    top: 29%;
    width: 100vw;
    height: 60vh;

}

main h1{
    font-size: 3.7em;
    text-transform: uppercase;
    font-family: "Newsreader", serif;
    font-weight: normal;

}