


/* tela pequena   */
@media screen   and (max-width:767px) {

  html, body{
    overflow-x: hidden !important; 
}



    h1{
        margin-bottom: 40px ;
        text-align: center;
        
    }
  #pa{
    margin-top: 50px; 
    text-align: center;   
  }



  img{
    margin: auto;
    width: 77vw;
    display: block;
   
  }
}

 /* tela media   */
@media screen  and (min-width:768px) and (max-width:991px) {  


        html, body{
          overflow-x: hidden !important; 
      }

   
   
    h1{
    
        margin-top: 20px;
        text-align: center;
    }
   img{
    margin-top: 24%;
   }
   #pa{
margin-top: 13%;
   }
 }



 /*corrigindo o erro tela +/- grande */
 @media screen  and (min-width:992px) and (max-width:1998px) {  


            html, body{
            overflow-x: hidden !important; 
        }




          .meio{
            position: relative;
          }


          main h1{
            position: absolute;
            margin: 10px;
            font-size: 4.3em;

            transform: translate(-22%, 114%);
           }
           img{
            margin: 10px;   
            padding: 0px;
           }
           #pa{
           
            padding: 0px;
            text-align: start;
           }
    }

  